 

<div class="jumbotron" style="background-color:lightblue;color:darkblue;margin-left:auto;margin-right:auto">
    <p>Registration</p>
</div>

<div class="container">
    <table class="table table-hover" style="background-color:lightblue;color:darkblue">
        <thead>
            <tr>
                <th>@Html.ActionLink("Register", "RegisterLogin")</th>
            </tr>
            <tr>
                <th>@Html.ActionLink("UnRegister", "UnRegisterLogin")</th>
            </tr>
        </thead>       
    </table>
</div>
