################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ICUScoreWeb/.vs/ICUScoreWeb/config/applicationhost.config
