@model IOrderedEnumerable<ICUScore.Data.Models.HighScore>

<div class="jumbotron">
   <p>Current Scores</p>
</div>

<div class="container">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Player</th><th>Highscore</th><th>Score Date</th>
            </tr>
        </thead>

        <tbody>
            @foreach(var score in Model)
            {
            <tr>
                <td>@score.pID</td><td>@score.Highscore</td><td>@score.LastUpdated</td>
            </tr>
            }                  
        </tbody>
    </table>
</div>
