@model IOrderedEnumerable<ICUScore.Data.Models.HighScore>

<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        @foreach (var score in Model)
        {
            <li class="list-group-item">@score.Highscore on @score.LastUpdated</li>

        }
       
    </ul>
</div>
