
@{
    ViewBag.Title = "Charts";
}

<head>
    <script src="~/Scripts/Chart.min.js"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>

<h2>Chart</h2>

<body>

    <div id="chartContainer" Style="font-family: Corbel; font-size: small ;text-align:center " class="row">
        <canvas id="myChart" width="400" height="400"></canvas>
    </div>

    <script>
        var rep = @Html.Raw(Json.Encode(ViewBag.ChartData));
        var labelss = rep[0];
        var datas = rep[1];
        var gameType = rep[2];
        var ctx = $("#myChart");
        var barC = new Chart(ctx, {
            type: 'horizontalBar',
            data: {
                labels: labelss,
                datasets: [{
                    label: "",
                    data: datas,
                    backgroundColor: ["rgba(54, 162, 235, 0.2)", "rgba(255, 99, 132, 0.2)", "rgba(255, 159, 64, 0.2)", "rgba(255, 205, 86, 0.2)", "rgba(75, 192, 192, 0.2)", "rgba(153, 102, 255, 0.2)", "rgba(201, 203, 207, 0.2)"],
                    borderColor: ["rgb(54, 162, 235)", "rgb(255, 99, 132)", "rgb(255, 159, 64)", "rgb(255, 205, 86)", "rgb(75, 192, 192)", "rgb(153, 102, 255)", "rgb(201, 203, 207)"],
                    borderWidth: 1,
                    maxBarThickness: 50,
                    minBarLength: 20
                }]
            },
            options: {
                maintainAspectRatio: false,
                scales: { yAxes: [{ ticks: { beginAtZero: true } }] },
                legend: {display:false},
            },
        });

    </script>

</body>

