<body>
    
    <div class="container" style="margin-left:auto;margin-right:auto;">
        <div class="btn-info" style="width:100px">
            @Html.ActionLink("Top Highscores", "Highscores")
        </div>

        <div class="btn-info" style="width:100px">
            @Html.ActionLink("Top Wins", "PvP")
        </div>
    </div>

</body>
