@model ICUScore.Web.Models.ScoreboardViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div>
    <h4>ScoreboardViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
           @Model.PlayerID
        </dt>

    </dl>
</div>
 
